.message-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    font-weight: bold;
    img {
        height: 4rem;
        border-radius: 50%;
    }
}