.contain {
    margin: auto;
    max-width: 40rem;
    width: 80%;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.tools-bar {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    justify-content: flex-start;
}

.input-content {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid rgb(70, 78, 78);
    background-color: #ffffff28;
    border-radius: 2rem;
    font-size: 1rem;

    &-style {
        padding: 0 1rem;
        background-color: transparent;
        border-radius: 2rem;
        width: 85%;
        height: 100%;
        border: none;

        &[type=text]:focus {
            outline: none;
        }
    }

    &-btn {
        width: 5rem;
        border-radius: 2rem;
    }

    &:focus {
        border: 1px #9186f3 solid;
    }

    svg {
        transform: translate(2px, 2px);
    }
}